@model awdc.ViewModels.ContactForm

@{
    Layout = null;
    Html.EnableClientValidation();
    Html.EnableUnobtrusiveJavaScript();
}

@using (Html.BeginUmbracoForm("HandleFormSubmit", "ContactFormSurface", new object { }, new { @class = "form-horizontal" }))
{

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Name" })
            @Html.ValidationMessageFor(m => m.Name)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Email)
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email address" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Subject)
            @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", placeholder = "Subject" })
            @Html.ValidationMessageFor(m => m.Subject)
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Message)
            @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Your message" })
            @Html.ValidationMessageFor(m => m.Message)
        </div>

        <div class="form-group">
            <button id="contact-submit" type="submit" class="btn btn-primary input-medium pull-left">Send</button>
        </div>
    </div>

}